
ul {
    padding: 0;
    margin: 0;
}
ul li {
    list-style: none;
    padding: 0;
    margin: 0;
}
/*搜索样式*/
body {
    cursor: pointer;
}
.top {
    padding: 10px 0;
    background: #f1f1f1;
    display: flex;
}
.search {
    position: relative;
    width: 90vw;
    line-height: 40px;
    margin: 0 auto;
    border: 1px solid #e2e2e2;
    -webkit-border-radius: 5.5px;
    -moz-border-radius: 5.5px;
    border-radius: 5.5px;
    background: #fff;
}
.search input {
    border:none;
    margin-left:10px;
    width:calc(100% - 56px);
    height: 40px;
}
.search img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
/*搜索切换*/
.search-a {
    width: 80vw;
    margin-left: 5vw;
    margin-right: 10px;
}
.cancel {
    display: inline-block;
    line-height: 40px;
    color: #428de2;
}
.display-none {
    display: none !important;
}
/*轮播图*/
.banner {
    /*background-image: url("/images/wechat/gongyi-bg.jpg") ;*/
    /*background: #f1f1f1;*/
    border-bottom: 5px solid #f1f1f1;
}
.wrap{
    /*height:65vw;*/
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 5px;
}
.wrap ul{
    height: 60vw;
    overflow: hidden;
    margin-bottom:0;
}
.wrap ul li{
    height:60vw;
}
.wrap ul li img{
    width:100%;
    height:45vw;
    -webkit-border-radius: 3.5px;
    -moz-border-radius: 3.5px;
    border-radius: 3.5px;
}
.pic span {
    font-size: 16px;
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.pic .introduce {
    font-size: 14px;
}
.pic .text {
    height: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
}
/*本周公益*/
.week-activity {
    border-bottom: 1px solid #e1e1e1;
}
.week-activity img {
    width: 22px;
    margin-right: 5px;
}
.week-activity .title {
    margin: 10px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
}
.week-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.week-content .week-list {
    width: 50vw;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.week-content .week-list img {
    width: 100%;
    height: 26vw;
    -webkit-border-radius: 3.5px;
    -moz-border-radius: 3.5px;
    border-radius: 3.5px;
}
.week-content .week-list span {
    margin-top: 5px;
}
/*更多公益*/
.more-activity {
    padding: 10px;
}
.more-activity > span {
    line-height: 40px;
    font-size: 16px;
}
.more-activity .item {
    display: flex;
    margin-bottom: 10px;
}
.more-activity .item img {
    width: 30vw;
    height: 20vw;
    display: inline-block;
    -webkit-border-radius: 3.5px;
    -moz-border-radius: 3.5px;
    border-radius: 3.5px;
}
.more-activity .item .right {
    width: 70vw;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    justify-content: center;
}
.more-activity .item .right span{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.more-activity .item .right span:not(.introduce) {
    -webkit-line-clamp: 1;
    font-size: 16px;
}
.more-activity .item .right .introduce {
    font-size: 0.9em;
    color: #8d8d8d;
}