body {
    cursor: pointer;
}
.top {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-bottom: 1px solid #e1e1e1;
}
.top img{
    width: calc(100vw - 20px);
    height: 50vw;
    border-radius: 3.5px;
}
.top .title {
    font-size: 16px;
    line-height: 28px;
    padding: 10px;
}
.top .introduce {
    padding: 10px;
}
/*内容*/
.article {
    padding: 10px 15px;
    position: relative;
}
.article-height {
    max-height: 80vw;
}
.article img {
    max-width: 100%;
}
.article .read-all {
    position: absolute;
    bottom: -10px;
    background: #eee;
    padding: 0 15px;
    width: calc(100vw - 30px);
    line-height: 48px;
    text-align: center;
    opacity: 0.8;
}
.over-flow {
    overflow: hidden !important;
}
.read-all img {
    width: 20px;
}
/*医院*/
.institution {
    /*padding: 10px;*/
    margin-top: 10px;
}
.institution > .title,.factory > span {
    width: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    background: #f1f1f1;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
.institution .list,.factory .list {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border-bottom: 1px solid #e1e1e1;
    /*padding-bottom: 10px;*/
    padding: 10px;
}
.institution .list .info,.factory .list .info {
    display: flex;
}
.institution .list .info .right,.factory .list .info .right{
    display: flex;
    flex-direction: column;
    width: calc(100vw - 22vw - 20px);
    padding: 0 10px;
    justify-content: center;
}
.institution .list .info .right .introduce ,.factory .list .info .right .introduce{
    color: #8d8d8d;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.factory .list .info .right .introduce {
    -webkit-line-clamp: 2;
}
.institution .list .info .right .address{

}
.institution .list .info .right div {
    display: flex;
    justify-content: space-between;
}
.institution .list .info img,.factory .list .info img {
    width: 20vw;
    height: 20vw;
}
.institution .list .icon {
    display: flex;
    margin-left: 20px;
}
.institution .list .icon img {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    margin-top: 10px;
}