/*分类样式*/
body {
    cursor: pointer;
}
.content {
    padding: 10px;
}
.content .type {
    display: flex;
    justify-content: space-between;
    line-height: 28px;
    border-bottom: 1px solid #e2e2e2;
}
.type .active {
    border-bottom: 1px solid #0090d9;
}
.top-title {
    color: #8d8d8d;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    padding: 0 1px;
    line-height: 40px;
}
.top-title span:not(.more) {
    color: #000;
    font-size: 16px;
}
.top-title span img {
    width: 12px;
    height: 12px;
}
.type-content .item {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #e1e1e1;
    padding:5px 0;
}
.item .art {
    display: flex;
    padding: 5px 0;
}
.item .right {
    display: inline-block;
    width: 35vw;
    height: 24vw;
    margin-left: 10px;
}
.item .left {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.item .introduce {
    color: #8d8d8d;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.item .title {
    font-size: 1.1em;
}
.item span {
    padding: 0.2em 0;
}
.right img {
    width: 100%;
    height: 100%;
    border-radius: 3.5px;
}
.type-item {
    padding: 0 10px 10px 10px;
}
.type-item ul li {
    display: inline;
    padding: 5px;
    margin-right: 5px;
    /*border: 1px solid #e2e2e2;*/
    border-radius: 20%;
    background: #f7f7f7;
    font-size: 0.8em;
    color: #8d8d8d;
}
.read {
    font-size: 0.8em;
    color: #8d8d8d;
}
/*轮播图*/
.banner {
    /*background-image: url("/images/wechat/gongyi-bg.jpg") ;*/
    /*background: #f1f1f1;*/
    border-bottom: 5px solid #f1f1f1;
}
.wrap{
    /*height:65vw;*/
    position: relative;
}
.wrap ul{
    height: 45vw;
    overflow: hidden;
    margin-bottom:0;
}
.wrap ul li{
    height:45vw;
}
.wrap ul li img{
    width:100%;
    height:45vw;
}
.pic span {
    font-size: 16px;
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.pic .introduce {
    font-size: 14px;
}
.pic .text {
    position: absolute;
    bottom: 0;
    line-height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
    background: #e1e1e1;
    width: 100%;
    opacity: 0.8;
}
/*视频*/
.type-2 .item{
    width: 50%;
    padding: 1.5vw;
}
.type-2 .item-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.type-2 .item img {
    width: 100%;
    height: 24vw;
}
.type-2 .introduce,.type-2 .title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-size: 13px;
    height: 38px;
}
.no-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top:10vw;
}
.no-data img {
    margin: 10px 0;
}
.no-data span {
    display: block;
    color: #8d8d8d;
}
