body {
    cursor: pointer;
}
ul {
    padding: 0;
    margin: 0;
}
ul li {
    list-style: none;
    padding: 0;
    margin: 0;
}
/*搜索样式*/
.top {
    padding: 10px 0;
    background: #f1f1f1;
    display: flex;
}
.search {
    position: relative;
    width: 90vw;
    line-height: 40px;
    margin: 0 auto;
    border: 1px solid #e2e2e2;
    -webkit-border-radius: 5.5px;
    -moz-border-radius: 5.5px;
    border-radius: 5.5px;
    background: #fff;
}
.search input {
    border:none;
    margin-left:10px;
    width:calc(100% - 56px);
    height: 40px;
}
.search img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
/*搜索切换*/
.search-a {
    width: 80vw;
    margin-left: 5vw;
    margin-right: 10px;
}
.cancel {
    display: inline-block;
    line-height: 40px;
    color: #428de2;
}
.display-none {
    display: none !important;
}
/*热门搜索*/
.before-search {
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.before-search .rm {
    font-size: 1.1em;
    color: #8d8d8d;
}
.before-search .rm-list {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}
.before-search .rm-list span {
    display: block;
    text-align: center;
    padding: 10px 8vw;
    background: #f1f1f1;
    margin-left: 10px;
    margin-top: 10px;
}
/*倒计时*/
.time {
    text-align: right;
    margin-bottom: 15px;
}
.time img {
    width: 24px;
}
.time span {
    line-height: 24px;
    display: inline-block;
}