body {
    /*padding-bottom: constant(safe-area-inset-bottom);*/
    /*padding-bottom: env(safe-area-inset-bottom);*/
}
label {
    font-weight: normal;
    color: #858585;
}
.form-group {
    margin-bottom: 10px;
}
.add {
    padding: 10px;
    background: #49b4ee;
    color: #fff;
    border-radius: 3.5px;
    display: inline-block;
    cursor: pointer;
}
.add.active {
    cursor: pointer;
    /*background: #49b4ee;*/
}
.font-small {
    font-size: 0.8em;
}
.display-none {
    display: none;
}
.col-sm-2 {
    padding-right: 0;
}
td {
    padding: 8px 0 !important;
}
.delete {
    color: #49b4ee;
    width: 9em;
    text-align: right;
    margin-left: 8px;
}
.pay-ticket {
    width: 40vw;
    background: #f77a2d;
    color: #fff;
    border-radius: 3.5px;
    line-height: 38px;
    height: 38px;
    text-align: center;
    cursor: pointer;
}
.pay-sign,.sign-save {
    width: 40vw;
    border-radius: 3.5px;
    color: #fff;
    background: #bfbfbf;
    height: 38px;
    line-height: 38px;
    text-align: center;
    cursor: pointer;
    /*margin-left: 10vw;*/
}
.pay-sign.active, .sign-save.active {
    cursor: pointer;
    background: #f77a2d;
}
.bottom {
    position: fixed;
    bottom: 0;
    background: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    width: 100vw;
}
/*必填提示*/
.warning,.length-warning {
    font-size: 0.8em;
    color: #bfbfbf;
}
.warning.active {
    color: #f00;
}
.table {
    margin-bottom: 60px !important;
    margin-top: 10px;
}
.table .li {
    display: flex;
    align-items: center;
    border-top: 1px solid #f1f1f1;
    padding: 10px 0;
    line-height: 20px;
    justify-content: space-between;
}
.table .li .li-content {
    display: flex;
    flex-wrap: wrap;
}
.table .li .li-content span {
    margin-right: 8px;
}
.add-btn {
    display: flex;
    justify-content: space-between;
    margin-right: 15px;
    align-items: center;
}
.form-warning {
    color: #f00;
}
/*发票*/
.ticket-info {
    position: fixed;
    width: 80vw;
    top: 10vw;
    left: 10vw;
    padding: 10px;
    z-index: 100;
    background: #fff;
    border-radius: 3.5px;
}
.ticket-info input {
    margin: 10px;
    border: 1px solid #bfbfbf;
    border-radius: 3.5px;
    line-height: 28px;
    width: 90%;
    padding: 0 8px;
}
.ticket-btn {
    text-align: center;
    cursor: pointer;
}
.ticket-btn span{
    color: #fff;
    background: #49b4ee;
    border-radius: 3.5px;
    padding: 5px 15px;
}
.shade {
    width: 100vw;
    height: 100vh;
    background: #8d8d8d;
    opacity: 0.7;
    position: fixed;
    top: 0;
    z-index: 10;
}
.radio-input {
    display: flex;
    align-items: center;
    margin-right: 15px;
}
input[type=radio] {
    margin-top: 0 !important;
}