/* ---------------------------------------------------------------------- */
/*  Theme Default
/* ---------------------------------------------------------------------- */
/* line 10, ../../sass/themes/theme-style10.scss */
body {
  background-color: #050505;
}
/* line 12, ../../sass/themes/theme-style10.scss */
body.layout-boxed {
  background: url("https://s3.cn-north-1.amazonaws.com.cn/ayzypublic/v1/images/bg.png") #050505;
}

/* line 16, ../../sass/themes/theme-style10.scss */
#slidingbar {
  background: rgba(5, 5, 5, 0.9);
}

/* line 19, ../../sass/themes/theme-style10.scss */
.main-container, #pageslide-left, #pageslide-right {
  background-color: #050505 !important;
}

/* line 22, ../../sass/themes/theme-style10.scss */
.label-default, .badge-default {
  background: #1ABC9C !important;
}

/* line 26, ../../sass/themes/theme-style10.scss */
.pace .pace-progress {
  background: #804C75;
}

/* line 30, ../../sass/themes/theme-style10.scss */
.topbar {
  background: #804C75;
  background-color: #a05f92 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a05f92 0px), to(#804C75 100%));
  background-image: -webkit-linear-gradient(top, #a05f92 0px, #804C75 100%);
  background-image: -moz-linear-gradient(top, #a05f92 0px, #804C75 100%);
  background-image: -ms-linear-gradient(top, #a05f92 0px, #804C75 100%);
  background-image: -o-linear-gradient(top, #a05f92 0px, #804C75 100%);
  background-image: linear-gradient(top, #a05f92 0px, #804C75 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#a05f92 0px', endColorStr='#804C75 100%');
}
/* line 33, ../../sass/themes/theme-style10.scss */
.topbar > .container .navbar-brand, .topbar .logo {
  color: #ffffff;
}
/* line 37, ../../sass/themes/theme-style10.scss */
.topbar .topbar-tools > ul > li > a {
  color: #ffffff;
}
/* line 40, ../../sass/themes/theme-style10.scss */
.topbar .topbar-tools > ul > li.right-menu-toggle > a {
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #804C75;
}
/* line 46, ../../sass/themes/theme-style10.scss */
.topbar .nav li.dropdown.open > .dropdown-toggle, .topbar .nav li.dropdown.active > .dropdown-toggle, .topbar .nav li.dropdown.open.active > .dropdown-toggle {
  background: none;
  color: #ffffff;
}
/* line 50, ../../sass/themes/theme-style10.scss */
.topbar .nav > li:hover > a, .topbar .nav > li:active > a, .topbar .nav > li > a:focus {
  color: #ffffff;
  background: none;
}

/* line 59, ../../sass/themes/theme-style10.scss */
ul.main-navigation-menu > li a {
  border-bottom: none;
  border-top-color: #121212;
  color: #dedede;
}
/* line 63, ../../sass/themes/theme-style10.scss */
ul.main-navigation-menu > li a i {
  color: #454545;
  font-weight: normal;
}
/* line 68, ../../sass/themes/theme-style10.scss */
ul.main-navigation-menu > li.active > a {
  background: #1f1f1f !important;
  border-top: none !important;
  color: #ffffff;
}
/* line 72, ../../sass/themes/theme-style10.scss */
ul.main-navigation-menu > li.active > a i {
  color: #ffffff;
}

/* line 77, ../../sass/themes/theme-style10.scss */
ul.main-navigation-menu li > ul.sub-menu > li > a:hover {
  background: #242424;
  color: #ffffff !important;
}

/* line 81, ../../sass/themes/theme-style10.scss */
ul.main-navigation-menu li > ul.sub-menu > li.open > a, ul.main-navigation-menu li > ul.sub-menu > li.active > a, ul.main-navigation-menu li > ul.sub-menu > li.open > a:hover, ul.main-navigation-menu li > ul.sub-menu > li.active > a:hover {
  background: #2b2b2b;
  color: #ffffff !important;
}

/* line 85, ../../sass/themes/theme-style10.scss */
ul.main-navigation-menu > li.open > a, ul.main-navigation-menu > li > a:hover, ul.main-navigation-menu > li:hover > a {
  background-color: black;
}

/* line 88, ../../sass/themes/theme-style10.scss */
ul.main-navigation-menu li.divider {
  background-color: #121212 !important;
}

/* line 91, ../../sass/themes/theme-style10.scss */
ul.main-navigation-menu li.dropdown-header, ul.main-navigation-menu .mega-menu-sub-title {
  color: #525252 !important;
}

/* line 94, ../../sass/themes/theme-style10.scss */
ul.main-navigation-menu li.dropdown-header, ul.main-navigation-menu .mega-menu-sub-title {
  color: #525252 !important;
}

/* line 97, ../../sass/themes/theme-style10.scss */
ul.main-navigation-menu .mega-menu .mega-menu-content ul.mega-sub-menu a {
  color: #dedede !important;
}
/* line 99, ../../sass/themes/theme-style10.scss */
ul.main-navigation-menu .mega-menu .mega-menu-content ul.mega-sub-menu a:hover {
  background: none !important;
}

/* line 103, ../../sass/themes/theme-style10.scss */
ul.main-navigation-menu .mega-menu .mega-menu-content ul.mega-sub-menu li.active a, ul.main-navigation-menu .mega-menu .mega-menu-content ul.mega-sub-menu li.active a:hover, ul.main-navigation-menu .mega-menu .mega-menu-content ul.mega-sub-menu li.active a:focus {
  background-color: black !important;
  text-decoration: none;
}

/* line 107, ../../sass/themes/theme-style10.scss */
ul.main-navigation-menu .mega-menu .mega-menu-content ul.mega-sub-menu li a:hover {
  background-color: #141414 !important;
  text-decoration: none;
}

/* line 112, ../../sass/themes/theme-style10.scss */
#horizontal-menu .container {
  background: #050505;
}
/* line 118, ../../sass/themes/theme-style10.scss */
#horizontal-menu .navbar-collapse .navbar-nav > li > a {
  color: #787878;
}
/* line 120, ../../sass/themes/theme-style10.scss */
#horizontal-menu .navbar-collapse .navbar-nav > li > a:hover {
  color: #dedede;
  background: black;
}
/* line 124, ../../sass/themes/theme-style10.scss */
#horizontal-menu .navbar-collapse .navbar-nav > li > a:active, #horizontal-menu .navbar-collapse .navbar-nav > li > a:focus {
  background: black;
}
/* line 129, ../../sass/themes/theme-style10.scss */
#horizontal-menu .navbar-collapse .navbar-nav > li.active > a {
  color: #dedede;
  background: #1ABC9C;
}
/* line 132, ../../sass/themes/theme-style10.scss */
#horizontal-menu .navbar-collapse .navbar-nav > li.active > a:after {
  border-top-color: #1ABC9C;
}

/* line 142, ../../sass/themes/theme-style10.scss */
.main-content {
  background: #DDDDDD;
}

/* line 145, ../../sass/themes/theme-style10.scss */
.go-top {
  color: #ffffff;
}

/* line 148, ../../sass/themes/theme-style10.scss */
.footer-inner {
  color: #ffffff;
}

/* line 152, ../../sass/themes/theme-style10.scss */
#pageslide-left .slide-tools {
  background-color: black;
}
/* line 155, ../../sass/themes/theme-style10.scss */
#pageslide-left .btn {
  color: rgba(255, 255, 255, 0.3);
}
/* line 157, ../../sass/themes/theme-style10.scss */
#pageslide-left .btn:hover {
  color: #ffffff;
  background-color: rgba(5, 5, 5, 0.4);
}
/* line 162, ../../sass/themes/theme-style10.scss */
#pageslide-left .user-profile {
  border-color: #121212;
  position: relative;
}
/* line 165, ../../sass/themes/theme-style10.scss */
#pageslide-left .user-profile h5 {
  color: #525252;
}
/* line 168, ../../sass/themes/theme-style10.scss */
#pageslide-left .user-profile h4 {
  color: #ffffff;
}

/* line 173, ../../sass/themes/theme-style10.scss */
.closedbar {
  background-color: black !important;
}
/* line 175, ../../sass/themes/theme-style10.scss */
.closedbar:hover {
  background-color: #050505 !important;
}

/* line 180, ../../sass/themes/theme-style10.scss */
#pageslide-right .pageslide-title {
  color: rgba(255, 255, 255, 0.4);
}
/* line 184, ../../sass/themes/theme-style10.scss */
#pageslide-right .notifications a {
  color: rgba(255, 255, 255, 0.7);
  background: black;
}
/* line 187, ../../sass/themes/theme-style10.scss */
#pageslide-right .notifications a:hover {
  background: black;
}
/* line 190, ../../sass/themes/theme-style10.scss */
#pageslide-right .notifications a .time {
  color: #525252;
}
/* line 196, ../../sass/themes/theme-style10.scss */
#pageslide-right .right-wrapper .nav-tabs li a {
  background: #050505;
  border-bottom-color: #1f1f1f;
}
/* line 200, ../../sass/themes/theme-style10.scss */
#pageslide-right .right-wrapper .nav-tabs li.active a {
  border-right-color: #1f1f1f;
  border-left-color: #1f1f1f;
  color: rgba(255, 255, 255, 0.9);
}
/* line 206, ../../sass/themes/theme-style10.scss */
#pageslide-right .media-list .media {
  border-bottom: 1px solid #1f1f1f;
  margin: 0;
}
/* line 209, ../../sass/themes/theme-style10.scss */
#pageslide-right .media-list .media .media-heading {
  color: #9bb2bf !important;
}
/* line 212, ../../sass/themes/theme-style10.scss */
#pageslide-right .media-list .media a:hover {
  background: #1f1f1f;
}
/* line 215, ../../sass/themes/theme-style10.scss */
#pageslide-right .media-list .media .status-online {
  color: #1FBBA6;
}
/* line 218, ../../sass/themes/theme-style10.scss */
#pageslide-right .media-list .media .media-body span {
  color: #9e9e9e;
}
/* line 221, ../../sass/themes/theme-style10.scss */
#pageslide-right .media-list .media label {
  color: #9e9e9e;
}
/* line 225, ../../sass/themes/theme-style10.scss */
#pageslide-right .sidebar-title {
  color: rgba(255, 255, 255, 0.4);
}
/* line 228, ../../sass/themes/theme-style10.scss */
#pageslide-right .sidebar-back {
  color: rgba(255, 255, 255, 0.4);
}
/* line 230, ../../sass/themes/theme-style10.scss */
#pageslide-right .sidebar-back:hover {
  color: rgba(255, 255, 255, 0.6);
}

/* line 236, ../../sass/themes/theme-style10.scss */
#style_selector_container .box-title {
  color: rgba(255, 255, 255, 0.8) !important;
}
/* line 239, ../../sass/themes/theme-style10.scss */
#style_selector_container .images {
  border-bottom: 1px solid #121212;
}
/* line 241, ../../sass/themes/theme-style10.scss */
#style_selector_container .images img.active {
  border: 2px solid #ababab;
}

/* line 246, ../../sass/themes/theme-style10.scss */
footer {
  background-color: #050505;
}
